.percentageChange {
    font-weight: 400;
    font-size: 10px;
}

.valueChange {
}

.daysAgo {
    color: #20efff;
    font-weight: 500;
}

.custom-div {
    position: relative;
    border-radius: 6px;
    padding: 4px 0 4px 15px;
    margin-left: -1px;
    margin-right: -1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    &.redBg {
        background-color: #ff00003b;
        padding: 4px 5px !important;
    }

    &.blueBg {
        background-color: #0000ff29;
    }
}

.symbol {
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 12px;
    font-weight: bold;
}
