<div class="plotly-container">
    <app-periods-rate-change
        [data]="resourceData"
        [options]="optsForEuroChanges"
    ></app-periods-rate-change>
    <app-periods-rate-change
        [data]="resourceData"
        [options]="optsForValueChanges"
    ></app-periods-rate-change>
    <p-chart type="line" [data]="graph.data" [options]="graph.options"></p-chart>
    <app-current-amount-display
        [currentAmountInEur]="latestValueInEuro"
        [currentValue]="latestValue"
        [options]="optsForValueChanges"
    ></app-current-amount-display>
</div>
