.rates-container {
    background-color: #e6e6e6;
    padding: 4px;
    border-radius: 6px;
}

.btn-name {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 12px;
    padding-right: 3px;
    padding-left: 3px;
}

.btn-value {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
}
