<div class="container">
    <div class="row justify-content-center">
        <form class="col-12  pt-5">
            <div class="form">
                <div class="form-group">
                    <label for="username">USERNAME</label>
                    <input
                        type="text"
                        required
                        name="username"
                        class="form-control"
                        [formControl]="username"
                    />
                </div>
                <div class="form-group">
                    <label for="password">PASSWORD</label>
                    <input
                        type="password"
                        required
                        name="password"
                        class="form-control"
                        [formControl]="password"
                    />
                </div>
                <div class="form-group">
                    <button (click)="login()" type="button" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<p-toast></p-toast>
